//AngularJS
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js')
//script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-resource.min.js')
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-route.min.js')

//Angular UI
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js')
script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js')
script(type='text/javascript', src='/lib/angular-ui-utils/ui-utils.min.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/releves.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/releves.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')

//if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    //script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')