head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="releve, edf")
  meta(name="description", content="Relevé EDF")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css')
  link(rel='stylesheet', href='//cdn.oesmith.co.uk/morris-0.4.3.min.css')
  link(rel='stylesheet', href='/css/main.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
