orange = #fe5815
noir = #000
blanc = #fff

h1
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 5px;

.navbar
	background-color: orange
	border-color: orange;

.navbar a
	color:blanc;

.nav>li>a
	&:hover
		background-color: noir

.navbar-brand
	color: blanc

.icon-bar
	background-color: blanc

.navbar-toggle
	border-color: blanc

.content 
	margin-top:70px;
	width:100%

footer
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	background:#ddd;
	-webkit-box-shadow:0 8px 6px 6px black;
	-moz-box-shadow:0 8px 6px 6px black;
	box-shadow:0 8px 6px 6px black
	p
		padding:5px 0 12px 10px

.btn-primary
	color: #fff;
	background-color: orange;
	border-color: orange;