<section data-ng-controller="RelevesController" data-ng-init="find()">
	<h1>Liste des relevés</h1>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>HC</th>
				<th>HP</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="releve in releves">
				<td>{{releve.hc}}</td>
				<td>{{releve.hp}}</td>
				<td>{{releve.created | date:'dd/MM/yyyy à HH:mm:ss'}}</td>
				<td><button type="button" class="btn">Supprimer</button></td>
			</tr>
		</tbody>
	</table>
	<h1 data-ng-hide="!releves || releves.length">Pas encore de relevés. <br> Mais vous pouvez <a href="/#!/articles/create">en créer un</a></h1>
</section>